In [120]:
import pandas as pd 
import numpy as np

In [121]:
df = pd.read_csv('Assignment-Business-Quant.csv')

In [122]:
df

    Category    Item  Year  Sales  Sales Growth %
0      Fruit   Apple  2015     90             NaN
1      Fruit   Apple  2016     41             NaN
2      Fruit   Apple  2017     71             NaN
3      Fruit   Apple  2018     59             NaN
4      Fruit   Apple  2019     41             NaN
..       ...     ...   ...    ...             ...
205   Plants  Tomato  2015     60             NaN
206   Plants  Tomato  2016     49             NaN
207   Plants  Tomato  2017     10             NaN
208   Plants  Tomato  2018     35             NaN
209   Plants  Tomato  2019     35             NaN

[210 rows x 5 columns]

In [123]:
df['Sales Last Year']= " "
df=df.assign(sortkey = df.groupby('Item')['Year'].transform('sum'))\
  .sort_values(['sortkey','Item','Year'], ascending=[False,True,True])\
  .drop('sortkey', axis=1)

In [124]:
df=df.reset_index(drop=True)
for i in range(1,len(df)):
        if df.loc[i,'Year'] != 2010:
            df.loc[i,'Sales Last Year'] = df.loc[i-1,'Sales']
        else:
            df.loc[i,'Sales Last Year'] = 0
        df.loc[i,'Sales Growth %'] = (df.loc[i,'Sales']/df.loc[i,'Sales Last Year'])-1
df['Sales Growth %'].replace(np.inf, 0, inplace=True)
pd.options.display.float_format = '{:,.2f}'.format

<ipython-input-124-1f09b1da0fd3>:7: RuntimeWarning: divide by zero encountered in longlong_scalars
  df.loc[i,'Sales Growth %'] = (df.loc[i,'Sales']/df.loc[i,'Sales Last Year'])-1

In [125]:
display(df)

    Category       Item  Year  Sales  Sales Growth % Sales Last Year
0     Plants  Aloe Vera  2010     27             NaN
1     Plants  Aloe Vera  2011     31            0.15              27
2     Plants  Aloe Vera  2012     99            2.19              31
3     Plants  Aloe Vera  2013     10           -0.90              99
4     Plants  Aloe Vera  2014     60            5.00              10
..       ...        ...   ...    ...             ...             ...
205   Plants     Tomato  2015     60            0.33              45
206   Plants     Tomato  2016     49           -0.18              60
207   Plants     Tomato  2017     10           -0.80              49
208   Plants     Tomato  2018     35            2.50              10
209   Plants     Tomato  2019     35            0.00              35

[210 rows x 6 columns]

In [126]:
df.tail(50)

       Category        Item  Year  Sales  Sales Growth % Sales Last Year
160       Roots      Radish  2010     64            0.00               0
161       Roots      Radish  2011     45           -0.30              64
162       Roots      Radish  2012     48            0.07              45
163       Roots      Radish  2013     73            0.52              48
164       Roots      Radish  2014     79            0.08              73
165       Roots      Radish  2015     18           -0.77              79
166       Roots      Radish  2016     74            3.11              18
167       Roots      Radish  2017     82            0.11              74
168       Roots      Radish  2018     58           -0.29              82
169       Roots      Radish  2019     34           -0.41              58
170       Seeds        Rose  2010     80            0.00               0
171       Seeds        Rose  2011     49           -0.39              80
172       Seeds        Rose  2012     10           -0.80              49
173       Seeds        Rose  2013     59            4.90              10
174       Seeds        Rose  2014     71            0.20              59
175       Seeds        Rose  2015     67           -0.06              71
176       Seeds        Rose  2016     75            0.12              67
177       Seeds        Rose  2017     92            0.23              75
178       Seeds        Rose  2018     26           -0.72              92
179       Seeds        Rose  2019     34            0.31              26
180  Vegetables     Spinach  2010     41            0.00               0
181  Vegetables     Spinach  2011     51            0.24              41
182  Vegetables     Spinach  2012     68            0.33              51
183  Vegetables     Spinach  2013     45           -0.34              68
184  Vegetables     Spinach  2014     73            0.62              45
185  Vegetables     Spinach  2015     38           -0.48              73
186  Vegetables     Spinach  2016     31           -0.18              38
187  Vegetables     Spinach  2017     95            2.06              31
188  Vegetables     Spinach  2018     77           -0.19              95
189  Vegetables     Spinach  2019     21           -0.73              77
190       Fruit  Strawberry  2010     93            0.00               0
191       Fruit  Strawberry  2011     41           -0.56              93
192       Fruit  Strawberry  2012     88            1.15              41
193       Fruit  Strawberry  2013     38           -0.57              88
194       Fruit  Strawberry  2014     27           -0.29              38
195       Fruit  Strawberry  2015     33            0.22              27
196       Fruit  Strawberry  2016     77            1.33              33
197       Fruit  Strawberry  2017     13           -0.83              77
198       Fruit  Strawberry  2018     26            1.00              13
199       Fruit  Strawberry  2019     37            0.42              26
200      Plants      Tomato  2010    100            0.00               0
201      Plants      Tomato  2011     72           -0.28             100
202      Plants      Tomato  2012     95            0.32              72
203      Plants      Tomato  2013     28           -0.71              95
204      Plants      Tomato  2014     45            0.61              28
205      Plants      Tomato  2015     60            0.33              45
206      Plants      Tomato  2016     49           -0.18              60
207      Plants      Tomato  2017     10           -0.80              49
208      Plants      Tomato  2018     35            2.50              10
209      Plants      Tomato  2019     35            0.00              35

In [127]:
import qgrid
for qgrid_functions in dir(qgrid):
    print(qgrid_functions)

QGridWidget
QgridWidget
__all__
__builtins__
__cached__
__doc__
__file__
__loader__
__name__
__package__
__path__
__spec__
__version__
_jupyter_nbextension_paths
_version
disable
enable
grid
off
on
set_defaults
set_grid_option
show_grid
version_info

# User Interactive Dashboard

In [128]:
qgrid_widget=qgrid.show_grid(df)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦